.collectionsTitle {
    padding: 1rem;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

.collectionsNav {
    display: flex;
    align-items: center;
}

/* .card {
    cursor: pointer;
    transition: all ease 200ms;
}

.card:hover {
    transform: scale(1.03);
} */