.collectionButton {
    background-color: #253b56;
    border: #253b56;
    border-style: solid;
    font-weight: bold;

}

.collectionButton:hover{
    background-color: white;
    border-color: #253b56;
    border-style: solid;
    color: #253b56;
    user-select: none;
}

.collectionButton:focus{
    background-color: white;
    border-color: #253b56;
    border-style: solid;
    color: #253b56;
  }

.modalTitle {
    color: #253b56;
    font-weight: bold;
}

.modalFormLabel {
    color: #253b56;
    font-weight: bold;
}
