.detailContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.carouselContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 500px;
}


.galleryImg {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.busiInfoContainer {
    margin-top: 30px;
    color: #253b56;
    width: auto;
}

.head {
    font-weight: bold;
    font-size: 1.5em;
}

.detailInfo {
    font-size: 25;
    font-weight: bold;
}

.review {
    white-space: pre-line;
}

.bigPicture {
    float: right;
}

.flex-container {
    display: flex;
}

.detailButton {
    background-color: #253b56;
    border: #253b56;
    border-style: solid;
    font-weight: bold;
    margin-right: 20px;
}

.detailButton:hover{
    background-color: white;
    border-color: #253b56;
    border-style: solid;
    color: #253b56;
    user-select: none;
}

.detailButton:focus{
    background-color: white;
    border-color: #253b56;
    border-style: solid;
    color: #253b56;
  }

.reviewDetailCard {
    width: 100%;
    border-style: dotted;
    border-radius: .6em;
    color: #253b56;
}


.singleCollectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.singleCollectionName {
    color: #253b56;
    font-size: 20px;
    font-weight: bold;
}

.reviewsStart {
    color: #253b56;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 25px;
}

.reviewHeader {
    font-size: 1.1em;
    font-weight: bold;
}

.editDelete {
    text-decoration: none;
    color: #253b56;
    font-weight: bold;
}

.editDelete:hover {
    color: #253b56
}