.movieRow {
    margin-top: 15px;
}

.card {
    margin-top: 15px;
}

.resListCard {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    cursor: pointer;
    transition: all ease 200ms;
    margin: 20px 20px;
    color: #253b56;
    text-decoration: none;
    width: 18rem;
}

div.poster {
    margin: 10px;
}

.smallPoster {
  border-radius: 8px 8px 0 0;
  max-height: 100px;
  overflow: hidden;
  object-fit: cover;
  width: 18rem;
}

.star {
    width: 32.5em;
    height: 4em;
    filter: drop-shadow(2px 4px 6px black);
    color: white
}

.starFill {
    fill: yellow;
}

.startEmpty {
    fill: white;
}





.scroll {
    overflow-y: auto !important;
    max-height: 650px !important;
  }
  
  .tag {
    display: inline-block;
    padding: 1px 6px;
    margin: 4px 0;
    background-color: #eee;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 12px;
  }
  
  .btn {
    border-radius: 5px;
    border: 1px solid skyblue;
  }
  
  .btn > a {
    text-decoration: none;
  }
  
  .fa-star {
    color: rgb(255, 169, 27) !important;
  }
  
  .box {
    margin-top: 10px !important;
  }
  
  .data-search-width {
    width: 10%;
  }
  
  .links {
    margin-left: 10px;
    margin-top: 5px;
  }
  
  .link {
    margin-left: 5px;
  }
  
  .marginBottom {
    margin-bottom: 50px;
  }
  
  .dataSearch {
    margin-top: 10px;
  }

  .filters {
    border: 1px solid black;
    padding: 10px;
    position: sticky;
    top: 50px;
  }