.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchBar {
  width: 500px;
}

.searchButton {
  margin-left: 20px;
  background-color: #253b56;
  border: #253b56;
  border-style: solid;
  font-weight: bold;
}

.searchButton:hover{
  background-color: white;
  border-color: #253b56;
  border-style: solid;
  color: #253b56;
}
.searchButton:focus{
  background-color: white;
  border-color: #253b56;
  border-style: solid;
  color: #253b56;
}

.mainPage {
  display: flex;
  flex-direction: row;
}

.filters {
  width: 150px;
  position:sticky;
  margin-top: 30px;
  align-items: flex-start;
} 

.filter-header {
  color: #253b56;
  font-size: 25;
}

.choices {
  color: #253b56;
  list-style-type: none;
  padding-left: 0;
}

.resetButton {
  background-color: #253b56;
  border: #253b56;
  border-style: solid;
  font-weight: bold;
}

.resetButton:hover {
  background-color: white;
  border-color: #253b56;
  border-style: solid;
  color: #253b56;
}
.resetButton:focus{
  background-color: white;
  border-color: #253b56;
  border-style: solid;
  color: #253b56;
}

.resRow {
    margin-top: 15px;
}

.card {
  margin-top: 15px;
}

.resListCard {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    cursor: pointer;
    transition: all ease 200ms;
    margin: 20px 20px;
    color: #253b56;
    text-decoration: none;
    width: 18rem;
    height: 350px;
}

.resContent {
  padding: 4px 16px 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.smallPoster {
  border-radius: 8px 8px 0 0;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}

.cardTitle {
  margin: 12px 0px 0px 0px;
  font-weight: bold;
  font-size: 25;
}

.detailLink {
  text-decoration: none;
  color: #8294aa;
}
.detailLink:hover {
  color: #253b56;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.showingpage {
  color:#253b56;
}

.next {
  text-decoration: none;
  color: #253b56;
}

