div.reviewText {
    width: 100%;
}

div.poster {
    margin: 10px;
}

p.review {
    white-space: pre-line;
}

.bigPicture {
    float: right;
}

.flex-container {
    display: flex;
}

.reviewButton {
    margin-right: 20px;
}