div.reviewText {
    width: 100%;
}

div.poster {
    margin: 10px;
}

.review {
    white-space: pre-line;
}

.bigPicture {
    float: right;
}

.flex-container {
    display: flex;
}

.reviewButton {
    margin-right: 20px;
}

.reviewCard {
    width: 81em;
    border-radius: .6em;
}

.singleCollectionContainer {
    display: flex;
    flex-direction: row;
}