.App {
  background-color: rgb(248,249,250);
  min-height: 100vh;
  padding-bottom: 100px;
}


body {
  overflow-x: hidden;
}

.text-to-right {
  direction: rtl;
  text-align: right;
}


.navbar-brand.brand {
  color: black;
  padding: 0;
}

.navbar-nav.nav-link.link {
  color: black!important;
}

.navItem {
  color: black!important;
}

.nav-link {
  padding: 0;
}

.main-container {
  margin-top: 10px;
}

img.iconLogo {
  height: 70px;
  padding-right: 5px;
}

.userProfile {
  background-color: #253b56;
  border: #253b56;
  border-style: solid;
  font-weight: bold;
}



.userProfile:hover{
  background-color: white;
  border-color: #253b56;
  border-style: solid;
  color: #253b56;
}

.userProfile:focus{
  background-color: white;
  border-color: #253b56;
  border-style: solid;
  color: #253b56;
}

.menu {
  width: 20px;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/


