.App {
  background-color: rgb(248,249,250);
  min-height: 100vh;
  padding-bottom: 100px;
}


body {
  overflow-x: hidden;
}

.text-to-right {
  direction: rtl;
  text-align: right;
}

.navContainer {
  background-color: #253b56;
}

.brand {
  color: white;
}

.navLink {
  color: white!important;
}

.navLink:hover {
  color: white;
  transform: scale(1.1);
}


.main-container {
  margin-top: 10px;
}

img.iconLogo {
  height: 70px;
  padding-right: 10px;
}

.userProfile {
  background-color: #253b56;
  border: #253b56;
  border-style: solid;
  font-weight: bold;
}


.userProfile:hover{
  background-color: white;
  border-color: #253b56;
  border-style: solid;
  color: #253b56;
}

.userProfile:focus{
  background-color: white;
  border-color: #253b56;
  border-style: solid;
  color: #253b56;
}

.menu {
  width: 60px!important;
}
